archive/python/notebooks/.ipynb_checkpoints

archive/python/kaqt/.idea/.name

archive/python/kaqt/.idea/encodings.xml

archive/python/kaqt/.idea/kaqt.iml

archive/python/kaqt/.idea/misc.xml

archive/python/kaqt/.idea/modules.xml

archive/python/kaqt/.idea/scopes/scope_settings.xml

archive/python/kaqt/.idea/vcs.xml

archive/python/kaqt/.idea/workspace.xml

archive/data/csv/*

*.pyc

archive/java/kaqt/data/*

archive/java/kaqt/logs/*
C++/kaqt/kaqt.opensdf
*.sdf
*.suo
c++/kaqt/bin/*
C++/kaqt/kaqt.apps.tt/bin/*
C++/kaqt/packages
*.user

python/kaqt/.idea/*

python/notebooks/.ipynb_checkpoints/parse_quickfix_instruments-checkpoint.ipynb

python/kaqt/samples/.ipynb_checkpoints/kaqt_backtest_data-checkpoint.ipynb

c++/kaqt/.idea/*

python/notebooks/FIX.4.2-KAPILDTS-TTDEV13P.messages.current.log

proto/*.cc

proto/*.h

proto/*.java

proto/*.py

C++/kaqt/build/*

python/notebooks/.ipynb_checkpoints/parse_cme_fprf-checkpoint.ipynb

C++/kaqt/.idea/*
C++/kaqt/kaqt.apps.symbology.ca/bin/*
*/.obj
*.tlog
*.log
*/.pdb
*/.idb
*.obj
C++/kaqt/kaqt.apps.tt.symbologyparser/bin/Debug/vc120.idb
*.pdb
C++/kaqt/kaqt.tests/bin/Debug/vc120.idb

python/kaqt/kaqt.egg-info/*
C++/kaqt/kaqt.apps.tt.symbologyparser/TTSymbols.csv
*.cache

python/notebooks/.ipynb_checkpoints/pivot_points-checkpoint.ipynb

notes/.ipynb_checkpoints/Tick Data Analysis-checkpoint.ipynb

python/kaqt/build/lib/kaqt/__init__.py

python/kaqt/dist/kaqt-0.1.3-py3.4.egg

python/notebooks/.ipynb_checkpoints/parse_settles_data-checkpoint.ipynb

python/notebooks/settles.h5

python/notebooks/.ipynb_checkpoints/*

python/notebooks/quotes.h5

python/notebooks/OldSettles.csv

java/kaqt/data

java/kaqt/logs

#java/kaqt/config.properties

data/symbology.xlsx

proto/.levelone_quote.proto.swp

proto/.symbology.proto.swp

python/kaqt/dist/
